@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400i,700,900');




body{
    Margin:0;
    background:floralwhite;
    color:#0b7294;
    font-family:Roboto;
    opacity:0.8;
    text-align: center;
    background-image:url("image/backgrounddark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   

}

footer{
    background-color:#0099cc;
    color: #ffffff;
    text-align:center;
    font-size: 12px;
    padding: 15px;
}

    nav ul{
        background: #444;


    
}

        nav ul li{
             color: rgba(230,230,230,0.9);
             padding:15px 10px;
             list-style: none;
            border-bottom: 1px solid rgba(100,100,100,0.3);

    }
    nav ul li a{
        margin:0;
        padding: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;
        text-decoration: none;
   
            
        }
        #menu .btn1{
            position: absolute;
            left: 230px;
            top:20px;

        }
        
#menu{
    position: fixed;
    width: 200px;
    height: 100%;

background: #15171919;

}


.btn1{
    display: block;
    width: 30px;
    height: 5px;
    
}
    .icons {
        width:100%;
        height:400px;
        background-color:#eee;
         position: absolute;
         transition: .5s ease;

    }
    .img1{
        padding:1px;
        width:50px;
        height:50px;
        margin-left:80px;
        margin-top: 10px;
        border:outset 20px rgb(90, 128, 0);
        border-radius:20%;
        display: inline-block;
        
    }


    .img1:hover {
        border-color:grey;
        

    }
    
    .web-developer{
        width:100%;
        height: auto;
        display: block;

    
    }
       
    .photoText{
       padding:100px;
        text-align: center;
        font-size:12px;
        
        
    }
   .webText{
        
    
    font-size:12px;
    

    }

    .photography{
        width:100%;
        height: auto;
        display: block;

    }

    h1, h2, h3{
        margin:0;
        padding:1em 0;
        font-family: sans-serif;
        text-align:center;

    }
    p{
        margin:0;
        padding:1em 0;
    }
    .btn{
        display: inline-block;
        background: floralwhite;
        color: black;
        text-decoration: none;
        padding:1em 2em;
        border:1px double grey;
        margin: .5em 0;
    }
    .btn:hover{
        background: grey;
        color: black;
    }
    #showcase {
        min-height: 450px;
       color: white;
       text-align: center;
       background-color: green;
    }
.bg-image{
position: absolute;
background-image:url("image/header.jpg");
background-position:center;
background-repeat: no-repeat;
background-size:cover;
width:100%;
height:450px;
}
#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}
#section-a{
    background: #eaeaee;
    color: #333;
    padding-bottom: 2em;

}


    

    .handle{
        display:inline-block;

    }
    @media screen and (min-width : 500px) {
        nav ul li{
            display:inline-block;
            margin: .2em 0;
            padding:1em 0.9em;
    }
    
/*
    .menu-hide {
        display:none;
    }

    .menu-show {
        display:inline;
    }
*/

}
           