@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400i,700,900');


.header .header-text{
color: white;
display: inline-block;
border-width: 2px;
padding:53m 1.75em;
border-style: solid;
margin-top: 200px;
margin-left: 450px;

}
body{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    font-family:Roboto;
    opacity: 0.8;

}
footer{
    background-color:#0099cc;
    color: #ffffff;
    text-align:center;
    font-size: 12px;
    padding: 15px;
}

    nav ul{
        max-height:0;
        display: block;
    
}

        nav ul li{
            box-sizing: border-box;
            width:100%;
            padding:15px;
            text-align: left;
    }
    nav ul li a{
        text-decoration:none;
        color:white;
        padding:30px;
        
    }
        nav ul li a:hover{
            color:blue;
            background-color: #f39d1a;
            transition: all 0.8s ;
            
        }
        
    
    .header{
        width:100%;
        height:auto;
        background-image:url(./image/header.jpg);

    

    }
    .icons {
        width:100%;
        height:400px;
        background-color:#eee;
         position: absolute;
         transition: .5s ease;

    }
    .img1{
        padding:1px;
        width:170px;
        height:170px;
        margin-left:80px;
        margin-top: 10px;
        border:outset 30px rgb(90, 128, 0);
        border-radius:25%;
        
    }

    .img1:hover {
        border-color:grey;
        

    }
    
    .web-developer{
        width:500px;
        height: auto;
       float: left;
    
    }
       
    .photoText{
       padding:100px;
        text-align: center;
        font-size:12px;
        
        
    }
   .webText{
        
    
    font-size:12px;
    

    }

    .half1 {
        width:35%;
        display:inline-block;
        background: black;
        color: white;
        font-size: 0.9em;
        font-weight: 100;
        margin:30px 20px;
        padding:10px;


    }
    .half2 {
        width:35%;
        display:inline-block;
        background: black;
        color: white;
        font-size: 0.9em;
        font-weight: 100;
        margin:30px 20px;
        padding:10px;

    }
    .photography{
        width:500px;
        height: auto;
        margin-top:150px;
        margin-right: 500px;

    }

    .header h1{
        font-family: sans-serif;
        text-align:center;

    }
    .handle{
        display:inline-block;

    }
/*
    .menu-hide {
        display:none;
    }

    .menu-show {
        display:inline;
    }
    */
        
           @media screen and (min-width:500px){
            nav ul  {
                background-color:rgba(107, 67, 67, 0.6);
                overflow:hidden;
                color:white;
                padding: 0;
                text-align: center;
                opacity: 0.7;
                filter:alpha (opacity=70);
                position: sticky;
                left:0;
 
                }
                .container{
                    width:100%;
                    height:auto;
                    position: fixed;
                    z-index: 1000;
                }
            
                nav ul li{
                    display:inline-block;
                    padding:20px;
                
            }
           
                .handle{
                    width:100%;
                    background:rgba(107, 67, 67, 0.6);;
                    text-align: center;
                    box-sizing:border-box;
                    padding: 15px 10px;
                    cursor: pointer;
                    color: white;
                    display:inline-block;
/*
           .menu-hide {
               display:block; */
           }
    
       

    
    
