@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400i,700,900');




body{
    Margin:0;
    background:floralwhite;
    color:#0b7294;
    font-family:Roboto;
    text-align: center;
    background-image:url("image/backgrounddark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   

}
main {
    display: block;
    /* height cannot be auto or 100% */
    height: 1000px;
    /* overflow-y can also be scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

 .arrow{
    position: fixed;;
    top:50%;
    left: 50%;
    margin-top: 550px;
    margin-left: -50px;
    font-size: 90px;
    text-align: center;
    transform: rotate(90deg);
    animation: bouncearrow 1s infinite;
    color: white;
    background: black;
    opacity: 0.8;
    

}
@keyframes bouncearrow{
0%{top: 0px;}
50%{top:20px; color:lightcyan;}
100%{top:0px;}

}
.arrow:hover{
    background: gray;
}


footer{
    background-color:#0099cc;
    color: #ffffff;
    text-align:center;
    font-size: 12px;
    padding: 15px;
}

        nav ul li{
             color: rgba(230,230,230,0.9);
             list-style: none;
           
            float: left;
            margin: 0;
            

    }
    nav ul li a{
       
        text-decoration: none;
        color: #555;
        padding: 14px 16px;
    }
       
nav {
    
   text-align: center;
    padding: 10px;
    background: rgba(200,200,200,0.96);
    position: fixed;
    width: 100%;
    z-index:999;
  }

  
  nav a:hover {
    color: #fff;
        
   
            
    
        
}
    .icons {
        width:100%;
        height:400px;
        background-color:#eee;
         position: absolute;
         transition: .5s ease;

    }
    .img1{
        padding:1px;
        width:100px;
        height:95px;
        margin-left:80px;
        margin-top: 10px;
        border:outset 15px rgb(92, 24, 202);
        border-radius:20%;
        display: inline-block;
        transition: all 0.6s ease;
        transform:preserve-3d;
        
    }
.img1:hover
{
    animation: animate 1s linear forwards;
    
}
.img2{
    width:100px;
    height:95px;
    margin-left:80px;
    margin-top: 10px;
}
.second ul{
    list-style: none;
}
.second li{
    display: inline-block;
    width:50px;
    height:50px;
    margin-right: 50px;
    box-shadow: 0px 1px 3px red;
    border-radius: 50px;
    position: relative;

}
    .second li a{
color: blueviolet;
font-size: 24px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);

    

}
@keyframes animate{
    0%{
        width:100px;
        height:95px;
        border-top-color:transparent;
        border-right-color:transparent;
        border-bottom-color:transparent;
        border-left-color:rgb(92, 24, 202);


    

}
50%
{
    width:100px;
    height:95px;
    border-top-color:transparent;;
    border-right-color:transparent;
    border-bottom-color:rgb(92, 24, 202);
    border-left-color:rgb(92, 24, 202);


}

        100%{
            width:100px;
            height:95px;
        border-top-color:rgb(92, 24, 202);;
        border-right-color:rgb(92, 24, 202);;
        border-bottom-color:rgb(92, 24, 202);
        border-left-color:rgb(92, 24, 202);

        }
    

    
        

    }
    
    .webdeveloper{
        width:100%;
        height: auto;
        display: block;

    
    }
       
    .photoText{
       padding:100px;
        text-align: center;
        font-size:12px;
        
        
    }
   .webText{
        
    
    font-size:12px;
    

    }

    .photography{
        width:100%;
        height: auto;
        display: block;

    }

    h1, h2, h3{
        margin:0;
        padding:1em 0;
        font-family: sans-serif;
        text-align:center;

    }
    p{
        margin:0;
        padding:1em 0;
    }
    .btn{
        display: inline-block;
        background: floralwhite;
        color: black;
        text-decoration: none;
        padding:1em 2em;
        border:1px double grey;
        margin: .5em 0;
        overflow-y: scroll;
        
        
    }
    .btn:hover{
        background: grey;
        color: black;
    }
    .btn2{
        display: inline-block;
        background: floralwhite;
        color: black;
        text-decoration: none;
        padding:1em 2em;
        border:1px double grey;
        margin: .5em 0;
    }
    .btn2:hover{
        background: grey;
        color: black;
    }
    #showcase {
        min-height: 455px;
       color: white;
       text-align: center;
       
    }
.bg-image{

background-image:url("image/header.jpg");
background-position:center;
background-repeat: no-repeat;
background-size:cover;
width:100%;
height:450px;


}
#section-a{
    background: #eaeaee;
    color: #333;
  
    
    

}
#section-b{
   
    padding: 2em 1em 1em;
}
#section-b ul{
     list-style: none;
     margin: 0;
     padding: 0;
 }   
 #section-b li{
     margin-bottom: 1em;
     background: #fff;
     color: #333;
 }
 #section-d{
    background-color: white;
    color: #333;
    padding-top:250px;
    padding-bottom:100px;
    margin:0 auto;
    color: white;
    
    

}

article {
    background-color:#125244;
    padding-top:10px;
    padding-bottom:10px;
    margin:0 auto;
    color: white;
}

.second {
margin-top:20px;
background-color:#0a1814;
color: white;

}

    .handle{
        display:inline-block;

    }
    
        .text{
            display:block;
            margin-top:90px ;
            font-size: px;
            font-weight: 700;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            color: gray;
            width: 50% auto;
            animation: bouncetext 3s infinite;
            
        
      }

      @keyframes bouncetext{
        25%{transform:translateX(10px); color:lightcyan;}
        50%{transform:translateX(0); color:lightcyan;}
        75%{transform:translateX(-10px);}
        
      }
      
      .text:hover{
        
        color: red;
      }
      h3{
          font-size: 175%;
          line-height: 155%;
          color: black;
          text-align: center;
          text-transform: uppercase;
          padding: 0;
          margin: 0;
          margin-left: 0;   
          border: solid 10px grey;
          background: grey;
          opacity: 0.8;
      }


    
    @media screen and (min-width : 645px) {
      
        
      
        #section-b ul{
            display: flex;
            justify-content: space-around;
        }
        
        #section-b li{
            width: 40%;}
            height: 30%;
            
            article {
                background-color:#125244;
                padding-top:20px;
                padding-bottom:20px;
                margin:0 auto;
                color: white;
                position: relative;
            }
            
            .second {
            margin-top:20px;
            background-color:#0a1814;
            color: white;
            
            }
            #section-d{
                background: #eaeaee;
                color: #333;
                padding-bottom: 8em;
                
            }            
            #section-d .img2{
                width:200px;
                height:180px;
                margin-left:80px;
                margin-top: 10px;
                padding: 15px;
                position: relative;
                border: 10px solid black;
                border-radius: 100%;
                border-top-color: #ff6a00;
               
                
            }
            
    
             .text{
            display:block;
           margin-top:90px ;
             font-size: 25px;
           font-weight: 700;
           letter-spacing: 0.3em;
            text-transform: uppercase;
            color: gray;
        
        
      }

      @keyframes bouncetext{
        25%{transform:translateX(10px); color:lightcyan;}
        50%{transform:translateX(0); color:lightcyan;}
        75%{transform:translateX(-10px);}
      }
      
      .text:hover{
        
        color: red;
        
      }


    
        
            @keyframes round {
                from{transform: rotate(0deg)}
                to{transform:rotate(360deg)}
            }
            #section-d .img2:hover{
                animation:round 1s linear ;
                transition: border 0.3s linear 0s;
            }
       
       
       
       
/*

    .menu-hide {
        display:none;
    }

    .menu-show {
        display:inline;
    }
*/

}
           