@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400i,700,900');




body{
    Margin:0;
    color:#0b7294;
    font-family:Roboto;
    text-align: center;
    background-image:url("image/backgrounddark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    p{
        
        width: 90%;
        display: block;
        margin: 30px auto;
}
main {
    display: block;
    /* height cannot be auto or 100% */
    height: 1000px;
    /* overflow-y can also be scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.skills{
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: all .3s ease-in-out;
    background-color: rgb(0, 0, 0);
    border: solid 0px grey;
    overflow: hidden;
    
}
.skills:hover{
    font-weight: 1200;
    transform: scale(1.1);
}
.ion-navicon {
    color: #f0f0f0;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    background-color: #010203;
    transition: all .3s ease-in-out;
    position: fixed;
    opacity: 0.8;
    width: 70px;
    height: auto;

    
}
#menu:hover {
    font-weight: 500;
    transform: scale(1.1);
}
#nav-menu a {
    display:block;
    background-color: #000102;;
}
.show-menu {
    display:block;
}
nav ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-left: 0;
    border-right: 0;
    border-color: #4b3ca3;
    display: none;
    list-style-type: none;
    margin-left: -40px;
}
nav a {
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    transition: all .3s ease-in-out;
    font-family: 'Roboto';
    
}
#nav-menu a:hover{
    
    font-weight: 900;
}
#header1{
    font-family: 'Roboto';
    background: #157ebf;
    transition:.4s;
    

}
header li{
    list-style: none;
}

.icons {
        width:100%;
        height:400px;
        background-color:#eee;
         position: absolute;
         transition: .5s ease;
    }
    .img1{
        padding:1px;
        width:100px;
        height:95px;
        border-radius:20%;
        display: inline-block;
        transition: all 0.6s ease;
        transform:preserve-3d;
    }
        .img1:hover{
            width:105px;
            height:100px;


    
}
.img2{
    width:300px;
    height:300px;
   left:50%;
   top:50%;
   margin-top: 2px;
    transform: translate(-0%, 0%);
    overflow: hidden;
}
.second ul{
    list-style: none;
}
.second li{
    display: inline-block;
    width:50px;
    height:50px;
    margin-right: 50px;
    box-shadow: 0px 1px 3px red;
    position: relative;
    overflow: hidden;

}
    .second li a{
color:white;
font-size: 24px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
    }
.second li:before{
    content: '';
    width: 100%;
    height: 100%;
    top:100%;
    left: 0%;
    display: inline-block;
    position: absolute;
    transition: .3s;
    
    
}

.second li:nth-child(1):before{
    background-color: #3b5998;

}
.second li:nth-child(2):before{
    background-color: #cd486b
    ;
    
}
.second li:nth-child(3):before{
    background-color: rgb(128, 128, 16);
    
}
.second li:hover:before{
    top:0%;
}



    #section-d li{
        list-style: none;
       
}
    
    .webdeveloper{
        width:100%;
        height: auto;
        display: block;

    
    }
       /* homepage paragraph texts*/
    .photoText{
       padding:100px;
        text-align: center;
        font-size:12px;
        
         /* homepage paragraph texts*/
    }
   .webText{
    font-size:12px;
    
    
    }
     /* Photography image*/
    .photography{
        width:100%;
        height: auto;
        display: block;

    }

    h1, h2, h3{
        margin:0;
        padding:1em 0;
        font-family: sans-serif;
        text-align:center;

    }
    .section-b p{
        margin:0;
        padding:1em 0;
    }
    .btn{
        display: inline-block;
        background: floralwhite;
        color: black;
        text-decoration: none;
        padding:1em 2em;
        border:1px double grey;
        margin: .5em 0;
        overflow-y: scroll;
        
    }
    .btn:hover{
        background: grey;
        color: black;
    }
    .btn2{
        display: inline-block;
        background: floralwhite;
        color: black;
        text-decoration: none;
        padding:1em 2em;
        border:1px double grey;
        margin: .5em 0;
    }
    .btn2:hover{
        background: grey;
        color: black;
    }
    #showcase {
        min-height: 455px;
       color: white;
       text-align: center;
       margin-top:-90px;
       
    }

     /* Header image*/
.bg-image{

background-image:url("image/header.jpg");
background-position:center;
background-repeat: no-repeat;
background-size:cover;
width:100%;
height:450px;


 /* Sections styles*/

}
#section-a{
    background: #ffffff;
    color: #333;
  
} 
#section-b{
   
    padding: 2em 1em 1em;
}
#section-b ul{
     list-style: none;
     margin: 0;
     padding: 0;
 }   
 #section-b li{
     margin-bottom: 1em;
     background: #fff;
     color: #333;
     
 }
 #section-d{
    background-color: white;
    color: #333;
    
    padding-bottom:100px;
    margin:0 auto;
}
#section-d ul{
    list-style: none;
    
}


#section-d ul li{
    display: inline-block;
    width:190px;
    height:190px;
    box-shadow: 0px 1px 3px red;
    border-radius: 110px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
}
#section-d ul li:before{
    
    content: '';
    width: 100%;
    height: 100%;
    top:100%;
    left: 0%;
    display: inline-block;
    position: absolute;
    transition: .3s;

}


#section-d ul :nth-child(1):before{
    background-color:#ec7808;
 }
 #section-d ul :nth-child(2):before{
     background-color: rgb(3, 71, 128);
 }
 #section-d ul :nth-child(3):before{
     background-color:yellow;
 }
 #section-d ul :nth-child(4):before{
     background-color:rgb(20, 141, 95);
 
 }
 #section-d ul :nth-child(5):before{
     background-color: #0074aa;
 }
 #section-d ul :nth-child(6):before{
     background-color:rgb(219, 120, 6);
 }
 #section-d ul li:nth-child(1):hover:before{
     top:20%;
 }
 #section-d ul li:nth-child(2):hover:before{
     top:30%;
 
 }
 #section-d ul li:nth-child(3):hover:before{
     top:40%;}
    
     #section-d ul li:nth-child(4):hover:before{
         top:20%;}
 
         #section-d ul li:nth-child(5):hover:before{
             top:50%;}
 
             #section-d ul li:nth-child(6):hover:before{
                 top:60%;}
 
 
                 #section-e{
                     background-color: white;
                     color: #333;
                     
                     padding-bottom:100px;
                     margin:0 auto;
                 }
    .img2{          
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    
    transform: translate(-0%, 0%)
}

                
.intro {
background: tomato;
padding: 100px 0;
                }

                /* Resume timeline style*/
.container {
 width: 90%;
 max-width: 900px;
 margin: 0 auto;
text-align: center;
                }
                
               
                
                .timeline ul {
                  background: #ffffff;
                  padding: 50px 0;
                }
                
                .timeline ul li {
                  list-style-type: none;
                  position: relative;
                  width: 6px;
                  margin: 0 auto;
                  padding-top: 50px;
                  background: tomato;
                }
                
                .timeline ul li::after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  bottom: 0;
                  transform: translateX(-50%);
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background: inherit;
                }
                
                .timeline ul li div {
                  position: relative;
                  bottom: 0;
                  width: 200px;
                  padding: 15px;
                  background: tomato;
                }
                
                .timeline ul li div::before {
                  content: '';
                  position: absolute;
                  bottom: 7px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                }
                
                .timeline ul li:nth-child(odd) div {
                  left: 30px;
                }
                
                .timeline ul li:nth-child(odd) div::before {
                  left: -15px;
                  border-width: 8px 16px 8px 0;
                  border-color: transparent tomato transparent transparent;
                }
                
                .timeline ul li:nth-child(even) div {
                  left: -250px;
                }
                
                .timeline ul li:nth-child(even) div::before {
                  right: -15px;
                  border-width: 8px 0 8px 16px;
                  border-color: transparent transparent transparent tomato;
                }
                
                time {
                  display: block;
                  font-size: 1.2rem;
                  font-weight: bold;
                  margin-bottom: 8px;
                }
                
                .timeline ul li::after {
                  transition: background .5s ease-in-out;
                }
                
                .timeline ul li.in-view::after {
                  background: tomato;
                }
                
                .timeline ul li div {
                  visibility: hidden;
                  opacity: 0;
                  transition: all .5s ease-in-out;
                }
                
                .timeline ul li:nth-child(odd) div {
                  transform: translate3d(200px, 0, 0);
                }
                
                .timeline ul li:nth-child(even) div {
                  transform: translate3d(-200px, 0, 0);
                }
                
                .timeline ul li.in-view div {
                  transform: none;
                  visibility: visible;
                  opacity: 1;
                }
                
/*Footer style*/
article {
    background-color:#125244;
    padding-top:10px;
    padding-bottom:10px;
    margin:0 auto;
    color: white;
}

.second {
margin-top:10px;
background-color:#0a1814;
color: white;
height: 25%;

}

    .handle{
        display:inline-block;
    }
    
        .text{
            display:block;
            font-weight: 700;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            color: gray;
            width: 50% auto;
            margin-bottom: 30px;
            
        
      }

      .text:hover{
        
        font-weight: 900;
      }
    
      h3{
          font-size: 175%;
          line-height: 155%;
          color: black;
          text-align: center;
          text-transform: uppercase;
          padding: 0;
          margin: 0;
          margin-left: 0;   
          border: solid 10px grey;
          background: grey;
          opacity: 0.8;
      }
      .text{
        display:block;
       margin-top:90px ;
         font-size: 25px;
       font-weight: 700;
       letter-spacing: 0.3em;
        text-transform: uppercase;
        color: gray;
      }

/*maps api*/
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
    /*break point used*/
    @media screen and (min-width : 645px) {
        
        
        
        #section-a{
            display: flex;
            justify-content: space-around;
            margin: 0px 1%;
            padding: 20px 10px;
            width: 96%;
           
        }
          h3{
          width: 97%;
          display: block;
          height: 60px;
          
        }
        .skills{
            font-size: 1.2em;
            font-weight: 900;
            text-decoration: none;
            padding: 0px;
            
            text-transform: uppercase;
            color: white;
            transition: all .3s ease-in-out;
            background-color: rgb(0, 0, 0);
            
        }
        .img1{
            margin-right:10px;
            position: relative;

        }
      
        #section-b ul{
            display: flex;
            justify-content: space-around;
            width: 90%;
        }
        
        #section-b li{
            width: 40%;
            height:30%;
        }
        
            article {
                background-color:#125244;
                padding-top:20px;
                padding-bottom:20px;
                margin:0 auto;
                color: white;
                position: relative;
            }
            
            .second {
            margin-top:20px;
            background-color:#0a1814;
            color: white;
            
            }
            #section-d{
                background-color: white;
                color: #333;
                padding-bottom: 8em;
                margin-bottom: 10px;
                
                
                
            }            
            #section-d ul{
                list-style: none;
                
            }
           
            
            #section-d ul li{
                display: inline-block;
                width:190px;
                height:190px;
                box-shadow: 0px 1px 3px red;
                border-radius: 110px;
                position: relative;
                overflow: hidden;
                padding: 20px;
                margin: 20px;
            }
                .img2{          
                width: 200px;
                height: 200px;
                left: 50%;
                top: 50%;
                
                transform: translate(-0%, 0%)
            }
            #section-d ul li:before{
                
                content: '';
                width: 100%;
                height: 100%;
                top:100%;
                left: 0%;
                display: inline-block;
                position: absolute;
                transition: .3s;
            }

        
            #section-d ul :nth-child(1):before{
               background-color:#ec7808;
            }
            #section-d ul :nth-child(2):before{
                background-color: rgb(3, 71, 128);
            }
            #section-d ul :nth-child(3):before{
                background-color:yellow;
            }
            #section-d ul :nth-child(4):before{
                background-color:rgb(20, 141, 95);

            }
            #section-d ul :nth-child(5):before{
                background-color: #0074aa;
            }
            #section-d ul :nth-child(6):before{
                background-color:rgb(219, 120, 6);
            }

    
             .text{
            display:block;
           margin-top:90px ;
             font-size: 25px;
           font-weight: 700;
           letter-spacing: 0.3em;
            text-transform: uppercase;
            color: gray;
        
        
      }
      #section-d ul li:hover:before{
          top:0%;
      }


      }
      
      .text:hover{
        
       font-weight: 900;
        
      }


            
       
 